<h1>セラピストを選択</h1>
<p><%= @start_date %> に出勤予定</p>
<table class="table table-striped">
  <tbody>
  <% @schedules.each do |schedule| %>
    <% staff = schedule.staff %>
    <tr>
      <td><%= staff.staff_id %></td>
      <td>
        <%= image_tag staff.image_url, class: 'img-thumbnail', width: '70' %>
      </td>
      <td><%= staff.name %></td>
      <td><%= "#{schedule.start_time.strftime('%H:%M')} - #{schedule.end_time.strftime('%H:%M')}" %></td>
      <td><%= link_to '選択する', "/schedules/#{staff.id}", class: "btn btn-primary btn-lg" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
