<% today = Date.parse('2023-01-01') %>

<p id="notice"><%= notice %></p>

<h1>スタッフ一覧</h1>
<table class="table table-striped">
  <thead class="thead-dark">
  <tr>
    <th>ID</th>
    <th>なまえ</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @staffs.each do |staff| %>
    <tr>
      <td><%= staff.id %></td>
      <td>
        <%= image_tag staff.image_url, class: 'img-thumbnail', width: '70' %>
      </td>
      <td><%= staff.name %></td>
      <% 5.times do |n| %>
        <% top = staff.schedules.where('date = ?', today + n.days).first %>
        <td><%= top&.start_time %></td>
      <% end %>
      <td><%= link_to 'Show Schedule', "/schedules/#{staff.id}" %></td>
    </tr>
  <% end %>
  </tbody>
</table>


